@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

h1 {
    font: 300 34px/40px Roboto,sans-serif;
}

h2 {
  font: 300 28px/38px Roboto,sans-serif;
}

h3 {
  font: 400 24px/34px Roboto,sans-serif;
}

h4 {
    font: 400 20px/32px Roboto,sans-serif;
}

div,p,a {
    font: 18px/24px Roboto,sans-serif;
}

a {
  font-weight: 300;
}

img {
  max-width: 100%;
}

button,.btn:hover {
  cursor: pointer;
}

*:disabled:hover {
    cursor: not-allowed;
}

.navbar {
  margin-bottom: 0;
}

nav.sidebar li a {
  color: #222;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.VuePassword__Meter {
    padding-left:0;
    padding-right:0;
    margin-top: .5rem;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {display:none;}

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }